 <div class="login-form">
    <mat-card>
      <mat-card-content>
        <h3>Ingresa tu nueva contraseña</h3>
 <div class="container-fluid page-background" class="recuperar">
    <!-- <img src="../../assets/image/login.jpeg" alt=""> -->
  
    <div class="row offset-2 col-1 box1">
      <div class="row col-12 mt-5">
      </div>
    </div>
    <div class="row offset-3 col-1 box">
      <div class="row col-12 mt-5">
      </div>
    </div>
    <div class="row offset-3 col-5 inside-container">
        <form [formGroup]="createNewPasswordForm" (ngSubmit)="submit()" novalidate>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput [type]="hidePwd ? 'password' : 'text'" formControlName="password" maxlength="100" />
              <button type="button" mat-icon-button matSuffix (click)="hidePwd = !hidePwd">
                <!--Si hide es true muestra un botton en caso contrario muestra otro-->
                <mat-icon>{{hideConfirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
              <mat-error *ngIf="isValidField('password')">
                {{ getErrorMessage('password') }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <button
                color="primary"
                mat-raised-button
                type="submit"
                [routerLink]="'/login'"
              >
                <span>Cancelar</span>
              </button>
              </mat-grid-tile>
              <mat-grid-tile>
                <button
                color="accent"
                [disabled]="!createNewPasswordForm.valid"
                mat-raised-button
                type="submit"
              >
                <span>Guardar</span>
              </button>
              </mat-grid-tile>
            </mat-grid-list>

            
          </form>
    </div>
  </div>
</mat-card-content>
</mat-card>
</div>
  